version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
    groups:
      angular:
        patterns:
          - "@angular/*"
          - "@angular-devkit/*"
          - "@angular-eslint/*"
      eslint:
        patterns:
          - "eslint"
          - "@typescript-eslint/*"
          - "eslint-*"

  - package-ecosystem: "npm"
    directory: "/backend"
    schedule:
      interval: "weekly"