// ion-menu ion-content {
//   --background: var(--ion-item-background, var(--ion-background-color, #FFF));
// }

// ion-menu {
//   max-width: 100px!important;
// }

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  --background: rgba(var(--ion-color-secondary-rgb), 1) !important;
}

ion-menu.md ion-item.selected {
  // --background: rgba(var(--ion-color-primary-rgb), 0.14);
  --background: rgba(var(--ion-color-primary-rgb), 1) !important;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

//additional

#inbox-list {
  padding-bottom: 0px !important;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.bg-dark {
  background-color: #2c2f32 !important;
}

.text-white {
  color: #ffffff !important;
}

.text-project {
  color: #6269d9 !important;
}

#header-text {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  padding-bottom: 20px;
}

#footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.mt-56 {
  margin-top: 56px;
}

.display-none-min-lg {
  @media (min-width: 992px) {
    display: none;
  }
}

.display-none-max-lg {
  @media (max-width: 991px) {
    display: none;
  }
}

.mt-56-max-lg {
  @media (max-width: 991px) {
    margin-top: 56px;
  }
}

.circle-container {
  display: flex;
}

.circle {
  background: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
}

.pt-5 {
  padding-top: 5px;
}

.pt-6 {
  padding-top: 6px;
}

.pt-8 {
  padding-top: 8px;
}

.menu-logo-powered-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-tapyrus-logo {
  height: 50px;
  width: auto;
}

.menu-powered-text-container {
  display: flex;
  flex-direction: column;
}

.border-white {
  border-top: 1px solid white;
  margin: 15px 0px;
}

.powered-text {
  font-size: 11px;
  margin: 0;
  line-height: 1.4;
}

.copyright-text {
  font-size: 9px;
  margin: 0;
  line-height: 1.4;
}

.circle-small {
  background: white;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 18px;
    width: auto;
  }
}

.absolute-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
