services:
  backend:
    build: ./backend
    environment:
      ENV: prod
      ELECTRS_REST_SCHEMA: http
      ELECTRS_REST_HOST: esplora
      ELECTRS_REST_PORT: 3001
    depends_on:
      - esplora
    ports:
      - '3001:3001'
    volumes:
      - ./backend:/app:cached
      - /app/node_modules
      - /app/tmp
  frontend:
    build: ./frontend
    environment:
      BACKEND_URL: http://localhost:3001
      PROJECT: $PROJECT
    depends_on:
      - backend
    ports:
      - '4200:4200'
    volumes:
      - ./frontend:/app:cached
      - /app/node_modules
  tapyrusd:
    image: tapyrus/tapyrusd:latest
    environment:
      GENESIS_BLOCK_WITH_SIG: $GENESIS_BLOCK_WITH_SIG
    volumes:
      - tapyrus:/var/lib/tapyrus
      - ./tapyrus.conf:/etc/tapyrus/tapyrus.conf
    entrypoint: >
      sh -c "
        echo ${GENESIS_BLOCK_WITH_SIG} > /var/lib/tapyrus/genesis.${NETWORK_ID} && \
        tapyrusd -datadir=/var/lib/tapyrus -conf=/etc/tapyrus/tapyrus.conf  -networkid=${NETWORK_ID} -rpcuser=${TAPYRUS_RPC_USER} -rpcpassword=${TAPYRUS_RPC_PASS} -addseeder=${TAPYRUS_SEEDER}
      "
    ports:
      - '2377:2377'
  esplora:
    image: tapyrus/esplora-tapyrus:latest
    user: root
    volumes:
      - electrs:/var/lib/electrs
      - tapyrus:/var/lib/tapyrus:ro
    ports:
      - '50001:50001'
    depends_on:
      - tapyrusd
    command:
      [
        'electrs',
        '-vvvv',
        '--timestamp',
        '--db-dir',
        '/var/lib/electrs',
        '--daemon-rpc-addr',
        'tapyrusd:2377',
        '--daemon-dir',
        '/var/lib/tapyrus/prod-${NETWORK_ID}',
        '--network-id',
        '${NETWORK_ID}',
        '--network',
        'prod',
        '--electrum-rpc-addr',
        '0.0.0.0:50001',
        '--http-addr',
        '0.0.0.0:3001',
        '--cookie',
        '${TAPYRUS_RPC_USER}:${TAPYRUS_RPC_PASS}',
        '--electrum-txs-limit',
        '1000000',
        '--utxos-limit',
        '1000000'
      ]
volumes:
  tapyrus:
  electrs:
