<ion-content class="pb-footer">
  <div class="ion-padding" *ngIf="!hasError">
    <div class="bg-white ion-padding">
      <div class="flex">
        <ion-icon
          size="large"
          name="chevron-back-circle-outline"
          id="arrow-icon"
          class="cursor-pointer"
          (click)="goToTransactions()"
        ></ion-icon>
        <p id="block-header-text">Transaction Details</p>
        <ion-button
          color="primary"
          size="small"
          id="raw-data-btn"
          class="cursor-pointer"
          (click)="goToTransactionRawData()"
          >Raw Data</ion-button
        >
      </div>
      <div id="block-hash-bg" class="font-14 text-wrap">
        TXID
        <p class="text-color" id="block-hash-text">{{ transaction.txid }}</p>
      </div>
      <ion-item-divider></ion-item-divider>
      <ion-grid class="font-14 text-color">
        <ion-row class="table-content">
          <ion-col size="2" class="font-w500">Size(Bytes):</ion-col>
          <ion-col size="8">{{ transaction.size }}</ion-col>
        </ion-row>
        <ion-row class="table-content">
          <ion-col size="2" class="font-w500">Received Time:</ion-col>
          <ion-col size="8"
            >{{ transaction.status?.block_time | dateFormat }}</ion-col
          >
        </ion-row>
        <ion-row class="table-content">
          <ion-col size="2" class="font-w500">Lock Time:</ion-col>
          <ion-col size="8">{{ transaction.locktime }}</ion-col>
        </ion-row>
        <ion-row class="table-content">
          <ion-col size="2" class="font-w500">Verified Time:</ion-col>
          <ion-col size="8"
            >{{ transaction.status?.block_time | dateFormat }}</ion-col
          >
        </ion-row>
        <ion-row class="table-content">
          <ion-col size="2" class="font-w500">Fee:</ion-col>
          <ion-col size="8">{{ transaction.fee | asTpc }} TPC</ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="ion-margin-bottom ion-margin-top">
      <ion-grid>
        <ion-row>
          <ion-col size="2" offset="10">
            <ion-button
              color="primary"
              id="show-script-btn"
              class="cursor-pointer"
              (click)="toggleDetail()"
            >
              <ion-icon
                slot="start"
                name="chevron-down-circle-outline"
                *ngIf="!detailVisible"
              ></ion-icon>
              <ion-icon
                slot="start"
                name="chevron-up-circle-outline"
                *ngIf="detailVisible"
              ></ion-icon>
              <span *ngIf="!detailVisible">Show Detail</span>
              <span *ngIf="detailVisible">Hide Detail</span>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div>
      <div class="bg-white ion-padding ion-margin-bottom ion-margin-top">
        <ion-grid>
          <ion-row class="word-break">
            <ion-col size-xs="12" size-sm="12" size-md="5">
              <div class="mb-5"><b>Inputs: </b></div>
              <div *ngFor="let vin of transaction.vin; index as i">
                <div *ngIf="vin.is_coinbase">
                  No Inputs (Newly Generated Coins)
                </div>
                <div *ngIf="!vin.is_coinbase" class="with-border">
                  <ion-row class="mb-5">
                    <ion-col size="1" class="font-w500 text-gray cursor-pointer"
                      >#{{ i }}</ion-col
                    >
                    <ion-col
                      size="7"
                      class="ion-no-margin link-color cursor-pointer"
                      (click)="goToAddress(vin.prevout.scriptpubkey_uncolored_address)"
                      >{{ vin.prevout.scriptpubkey_uncolored_address }}</ion-col
                    >
                    <ion-col
                      size="4"
                      class="ion-no-margin ion-text-right text-gray"
                    >
                      <ng-container *ngIf="!!vin.prevout.colorId">
                        {{ vin.prevout.value }}
                        <span
                          class="link-color cursor-pointer"
                          (click)="goToCoin(vin.prevout.colorId)"
                          >COIN
                        </span>
                      </ng-container>
                      <ng-container *ngIf="!vin.prevout.colorId">
                        {{ vin.prevout.value | asTpc }}
                        <span>TPC</span>
                      </ng-container>
                    </ion-col>
                  </ion-row>
                  <ion-row class="mb-5">
                    <ion-col
                      offset="1"
                      size="15"
                      class="text-gray font-small link-color cursor-pointer"
                      (click)="goToTransaction(vin.txid, 'output_' + vin.vout)"
                      >{{ vin.txid }}:{{ vin.vout }}
                    </ion-col>
                  </ion-row>
                  <ion-row
                    *ngIf="detailVisible && vin.scriptsig && vin.scriptsig_asm"
                  >
                    <ion-col size="11" offset="1" class="with-border-top">
                      <ion-row>
                        <ion-col class="text-gray ion-text-uppercase"
                          >script sig asm</ion-col
                        >
                      </ion-row>
                      <ion-row class="text-script">
                        <ion-col>
                          <span>{{ vin.scriptsig_asm }}</span>
                          <ion-button
                            fill="clear"
                            (click)="copy(vin.scriptsig_asm)"
                          >
                            <ion-icon
                              name="copy-outline"
                              class="cursor-pointer"
                            ></ion-icon>
                          </ion-button>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col class="text-gray ion-text-uppercase"
                          >script sig hex</ion-col
                        >
                      </ion-row>
                      <ion-row class="text-script">
                        <ion-col>
                          <span>{{ vin.scriptsig }}</span>
                          <ion-button
                            fill="clear"
                            (click)="copy(vin.scriptsig)"
                          >
                            <ion-icon
                              name="copy-outline"
                              class="cursor-pointer"
                            ></ion-icon>
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </div>
              </div>
            </ion-col>
            <ion-col
              size-xs="12"
              size-sm="12"
              size-md="2"
              class="ion-text-center"
            >
              <ion-icon
                name="arrow-forward"
                size="large"
                class="display-none-max-md"
              ></ion-icon>
              <ion-icon
                name="chevron-down-outline"
                size="large"
                class="display-none-min-md"
              ></ion-icon>
            </ion-col>
            <ion-col size-xs="12" size-sm="12" size-md="5">
              <div class="mb-5"><b>Outputs: </b></div>
              <ion-row
                *ngFor="let vout of transaction.vout; index as i"
                class="with-border {{'#output_' + i == this.scrollTarget ? 'highlight' : ''}}"
                id="output_{{i}}"
              >
                <ion-col>
                  <ion-row>
                    <ion-col size="1" class="text-gray cursor-pointer"
                      >#{{ i }}</ion-col
                    >
                    <ion-col
                      size="7"
                      class="link-color cursor-pointer"
                      (click)="goToAddress(vout.scriptpubkey_uncolored_address)"
                      >{{ vout.scriptpubkey_uncolored_address }}</ion-col
                    >
                    <ion-col size="4" class="ion-text-right text-gray">
                      <ng-container *ngIf="!!vout.colorId">
                        {{ vout.value }}
                        <span
                          class="link-color cursor-pointer"
                          (click)="goToCoin(vout.colorId)"
                          >COIN
                        </span>
                      </ng-container>
                      <ng-container *ngIf="!vout.colorId">
                        {{vout.value | asTpc }}
                        <span>TPC</span>
                      </ng-container>
                    </ion-col>
                  </ion-row>
                  <ion-row
                    *ngIf="detailVisible && vout.scriptpubkey && vout.scriptpubkey_asm"
                  >
                    <ion-col size="11" offset="1" class="with-border-top">
                      <ion-row>
                        <ion-col class="text-gray ion-text-uppercase"
                          >script pubkey asm</ion-col
                        >
                      </ion-row>
                      <ion-row class="text-script">
                        <ion-col>
                          <span>{{ vout.scriptpubkey_asm }}</span>
                          <ion-button
                            fill="clear"
                            (click)="copy(vout.scriptpubkey_asm)"
                          >
                            <ion-icon
                              name="copy-outline"
                              class="cursor-pointer"
                            ></ion-icon>
                          </ion-button>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col class="text-gray ion-text-uppercase"
                          >script pubkey hex</ion-col
                        >
                      </ion-row>
                      <ion-row class="text-script">
                        <ion-col>
                          <span>{{ vout.scriptpubkey }}</span>
                          <ion-button
                            id="'out_' + i + '_hex'"
                            fill="clear"
                            (click)="copy(vout.scriptpubkey)"
                          >
                            <ion-icon
                              name="copy-outline"
                              class="cursor-pointer"
                            ></ion-icon>
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-item-divider></ion-item-divider>

          <ion-row>
            <ion-col
              size="6"
              offset="0"
              size-sm="4"
              offset-sm="4"
              size-md="3"
              offset-md="6"
              size-lg="2"
              offset-lg="8"
            >
              <ion-item color="medium">
                <ion-label class="ion-text-center">
                  {{ transaction.status?.confirmations || 0 }} CONFIRMATIONS
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="6" size-sm="4" size-md="3" size-lg="2">
              <ion-item color="primary">
                <ion-label class="ion-text-center">
                  {{ transaction.totalVout | asTpc }} TPC
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div>
      <div class="bg-white ion-padding" *ngIf="isMaterialTracking">
        <div class="flex">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-title class="ion-padding"
                  >Check Material Tracking Transaction</ion-title
                >
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text class="ion-padding"
                  >This transaction is a tracking transaction. You can check
                  that the total amount of material used for inputs and for
                  outputs are balanced.</ion-text
                >
              </ion-col>
            </ion-row>
            <ion-row *ngIf="!hasMaterialTrackingCheckResult">
              <ion-col>
                <ion-button
                  color="primary"
                  id="check-balance"
                  (click)="checkBalance()"
                  class="cursor-pointer"
                  >Check balance</ion-button
                >
              </ion-col>
            </ion-row>
            <ion-row *ngIf="hasMaterialTrackingCheckResult">
              <ion-col>
                <ion-text
                  *ngIf="isMaterialTrackingBalanced"
                  color="success"
                  class="ion-padding"
                >
                  <ion-icon name="checkmark-outline"></ion-icon>
                  The total amount of material is balanced!
                </ion-text>
                <ion-text
                  *ngIf="!isMaterialTrackingBalanced"
                  color="danger"
                  class="ion-padding"
                >
                  <ion-icon name="close-outline"></ion-icon>
                  The total amount of material is not balanced
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
  </div>
  <div class="ion-padding" *ngIf="hasError">
    <h1 class="error text-primary">
      <div class="code">{{ statusCode }}</div>
      <div class="message">{{ statusMsg }}</div>
    </h1>
    <div>
      <p class="detail">{{ detailMsg }}</p>
    </div>
  </div>
</ion-content>
