<ion-content class="pb-footer">
  <div class="ion-padding" *ngIf="!hasError">
    <div class="bg-white ion-padding">
      <ion-row>
        <ion-col size="8">
          <div class="flex">
            <p id="block-header-text">Address</p>
            <p class="text-wrap">{{ address }}</p>
            <ion-icon
              name="copy-outline"
              (click)="copyAddress()"
              class="cursor-pointer"
              color="primary"
              style="margin: 16px 2px"
              id="copy-icon"
            ></ion-icon>
          </div>
        </ion-col>
        <ion-col size="4" class="ion-text-end">
          <qrcode [qrdata]="qrcode" [errorCorrectionLevel]="'L'"></qrcode>
        </ion-col>
      </ion-row>
    </div>

    <div class="bg-white ion-padding ion-margin-top">
      <ion-row>
        <ion-col size="12">
          <p class="table-title">Balances</p>
        </ion-col>
      </ion-row>
      <ion-row class="table-header">
        <ion-col size="4" class="pt-10">Color ID</ion-col>
        <ion-col size="2" class="pt-10">Total Balance</ion-col>
        <ion-col size="2" class="pt-10">Total Received</ion-col>
        <ion-col size="2" class="pt-10">Total Sent</ion-col>
        <ion-col size="2" class="pt-10">No. Transactions</ion-col>
      </ion-row>
      <ion-row
        class="text-color table-border-bottom"
        *ngFor="let color of colors"
      >
        <ng-container *ngIf="isColored(color['colorId'])">
          <ion-col
            size="4"
            class="pt-10 link-color cursor-pointer"
            (click)="goToCoin(color['colorId'])"
            >{{ color['colorId'] | formatColorId }}</ion-col
          >
          <ion-col size="2" class="pt-10 ion-text-right">{{ color['balanced'] }}</ion-col>
          <ion-col size="2" class="pt-10 ion-text-right">{{ color['received'] }}</ion-col>
          <ion-col size="2" class="pt-10 ion-text-right">{{ color['sent'] }}</ion-col>
          <ion-col size="2" class="pt-10 ion-text-right">{{ color['count'] }}</ion-col>
        </ng-container>
        <ng-container *ngIf="!isColored(color['colorId'])">
          <ion-col size="4" class="pt-10">{{ color['colorId'] | formatColorId }}</ion-col>
          <ion-col size="2" class="pt-10 ion-text-right">{{ color['balanced'] | asTpc }}</ion-col>
          <ion-col size="2" class="pt-10 ion-text-right">{{ color['received'] | asTpc }}</ion-col>
          <ion-col size="2" class="pt-10 ion-text-right">{{ color['sent'] | asTpc }}</ion-col>
          <ion-col size="2" class="pt-10 ion-text-right">{{ color['count'] }}</ion-col>
        </ng-container>
      </ion-row>
    </div>
    <div class="bg-white ion-padding ion-margin-top">
      <ion-row>
        <ion-col size="12">
          <p class="table-title">Transactions</p>
        </ion-col>
      </ion-row>
      <ion-row class="table-header">
        <ion-col size="2" class="pt-10">TXID</ion-col>
        <ion-col size="1" class="pt-10">BLOCK</ion-col>
        <ion-col size="1" class="pt-10">AGE</ion-col>
        <ion-col size="4">
          <ion-row>
            <ion-col size="8">FROM</ion-col>
            <ion-col size="4">VALUE</ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="4">
          <ion-row>
            <ion-col size="8">TO</ion-col>
            <ion-col size="4">VALUE</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row
        class="text-color table-border-bottom"
        *ngFor="let tx of transactions"
      >
        <ion-col
          size="2"
          (click)="goToTransaction(tx.txid)"
          class="link-color cursor-pointer ellipsis"
          >{{ tx.txid }}</ion-col
        >
        <ion-col size="1">{{ tx.status?.block_height || "" }}</ion-col>
        <ion-col size="1">{{ tx.status?.block_time | momentFromNow }}</ion-col>
        <ion-col size="4">
          <ng-container *ngFor="let input of tx.vin">
            <ion-row>
              <ion-col size="6">
                <div 
                  (click)="!input.prevout?.scriptpubkey_uncolored_address || goToAddressPage(input.prevout?.scriptpubkey_uncolored_address)"
                  [ngClass]="{'link-color cursor-pointer ellipsis': input.prevout?.scriptpubkey_uncolored_address}"
                >
                  {{ input.prevout?.scriptpubkey_uncolored_address }}
                </div>
              </ion-col>
              <ion-col size="2">
                <ion-badge *ngIf="!input.is_coinbase" color="primary"
                  >IN</ion-badge
                >
                <ion-badge *ngIf="input.is_coinbase" color="warning"
                  >COINBASE</ion-badge
                >
              </ion-col>
              <ion-col size="4" class="ion-text-right">
                <ng-container *ngIf="input.is_coinbase">
                </ng-container>
                <ng-container *ngIf="!input.is_coinbase && !!input.prevout.colorId">
                  {{ input.prevout?.value }}
                  <span
                    class="link-color cursor-pointer"
                    (click)="goToCoin(input.prevout.colorId)"
                    >COIN
                  </span>
                </ng-container>
                <ng-container *ngIf="!input.is_coinbase && !input.prevout.colorId">
                  {{ input.prevout?.value | asTpc}}
                  <span>TPC</span>
                </ng-container>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="!!input.prevout.colorId" class="table-border-bottom">
              <ion-col size="8" class="ion-margin-bottom link-color cursor-pointer font-14 ellipsis"
                (click)="goToCoin(input.prevout.colorId)"
              >
                Color ID: {{ input.prevout?.colorId | formatColorId }}
              </ion-col>
            </ion-row>
          </ng-container>
        </ion-col>
        <ion-col size="4">
          <ng-container *ngFor="let output of tx.vout">
            <ion-row>
              <ion-col
                size="6"
                (click)="!output.scriptpubkey_uncolored_address || goToAddressPage(output.scriptpubkey_uncolored_address)"
                [ngClass]="{'link-color cursor-pointer ellipsis': output.scriptpubkey_uncolored_address}"
                >{{ output.scriptpubkey_uncolored_address }}</ion-col
              >
              <ion-col size="2">
                <ion-badge color="danger">OUT</ion-badge>
              </ion-col>
              <ion-col size="4" class="ion-text-right">
                <ng-container *ngIf="!!output.colorId">
                  {{ output.value }}
                  <span
                    class="link-color cursor-pointer"
                    (click)="goToCoin(output.colorId)"
                    >COIN
                  </span>
                </ng-container>
                <ng-container *ngIf="!output.colorId">
                  {{ output.value | asTpc }}
                  <span>TPC</span>
                </ng-container>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="!!output.colorId" class="table-border-bottom">
              <ion-col size="8" class="ion-margin-bottom link-color cursor-pointer font-14 ellipsis"
                (click)="goToCoin(output.colorId)"
              >
                Color ID: {{ output.colorId | formatColorId }}
              </ion-col>
            </ion-row>
          </ng-container>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <ion-grid *ngIf="!hasError">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button
          color="primary"
          id="next"
          class="cursor-pointer"
          (click)="onNextPage()"
          >Load More</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-padding" *ngIf="hasError">
    <h1 class="error text-primary">
      <div class="code">{{ statusCode }}</div>
      <div class="message">{{ statusMsg }}</div>
    </h1>
    <div>
      <p class="detail">{{ detailMsg }}</p>
    </div>
  </div>
</ion-content>
