<ion-content class="pb-footer">
  <div class="ion-padding" *ngIf="!hasError">
    <div class="bg-white ion-padding">
      <div class="flex">
        <h2 id="color-header-text" class="ellipsis">
          Color Identifier: {{ colorId }}
        </h2>
      </div>
      <ion-item-divider></ion-item-divider>
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12" size-md="3">
            <div class="sub-panel">
              <h3 class="sub-panel-title">Basic Info</h3>
              <ion-grid class="text-color">
                <ion-row>
                  <ion-col size="6" class="font-w500">Type:</ion-col>
                  <ion-col size="6" class="ion-text-right"
                    >{{ tokenType }}</ion-col
                  >
                </ion-row>
                <ion-row>
                  <ion-col size="6" class="font-w500">Total Issued:</ion-col>
                  <ion-col size="6" class="ion-text-right"
                    >{{ stats.issued_sum }}</ion-col
                  >
                </ion-row>
                <ion-row>
                  <ion-col size="6" class="font-w500"
                    >Total Transferred:</ion-col
                  >
                  <ion-col size="6" class="ion-text-right"
                    >{{ stats.transferred_sum }}</ion-col
                  >
                </ion-row>
                <ion-row>
                  <ion-col size="6" class="font-w500">Total Burned:</ion-col>
                  <ion-col size="6" class="ion-text-right"
                    >{{ stats.burned_sum }}</ion-col
                  >
                </ion-row>
              </ion-grid>
            </div>
          </ion-col>
          <ion-col size-xs="12" size-md="9" *ngIf="metadata">
            <div class="sub-panel">
              <h3 class="sub-panel-title">Token Metadata</h3>
              <div class="metadata-content">
                <div *ngIf="metadata.icon" class="metadata-icon">
                  <img
                    [src]="metadata.icon"
                    alt="Token Icon"
                    class="token-icon-large"
                  />
                </div>
                <div class="metadata-info">
                  <ion-grid class="text-color">
                    <ion-row *ngIf="metadata.name">
                      <ion-col size="4" class="font-w500">Name:</ion-col>
                      <ion-col size="8">{{ metadata.name }}</ion-col>
                    </ion-row>
                    <ion-row *ngIf="metadata.symbol">
                      <ion-col size="4" class="font-w500">Symbol:</ion-col>
                      <ion-col size="8">{{ metadata.symbol }}</ion-col>
                    </ion-row>
                    <ion-row *ngIf="metadata.description">
                      <ion-col size="4" class="font-w500">Description:</ion-col>
                      <ion-col size="8">{{ metadata.description }}</ion-col>
                    </ion-row>
                    <ion-row *ngIf="metadata.website">
                      <ion-col size="4" class="font-w500">Website:</ion-col>
                      <ion-col size="8">
                        <a
                          [href]="metadata.website"
                          target="_blank"
                          class="link-color"
                          >{{ metadata.website }}</a
                        >
                      </ion-col>
                    </ion-row>
                    <ion-row *ngIf="metadata.issuer">
                      <ion-col size="4" class="font-w500">Issuer:</ion-col>
                      <ion-col size="8">{{ metadata.issuer }}</ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="bg-white ion-padding ion-margin-top">
      <ion-row>
        <ion-col size="12">
          <h3 id="color-header-text">Transactions</h3>
        </ion-col>
      </ion-row>
      <ion-row class="table-header">
        <ion-col size="2" class="pt-10">TXID</ion-col>
        <ion-col size="1" class="pt-10">BLOCK</ion-col>
        <ion-col size="1" class="pt-10">AGE</ion-col>
        <ion-col size="4">
          <ion-row>
            <ion-col size="8">FROM</ion-col>
            <ion-col size="4">VALUE</ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="4">
          <ion-row>
            <ion-col size="8">TO</ion-col>
            <ion-col size="4">VALUE</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="text-color table-border-bottom" *ngFor="let tx of txs">
        <ion-col
          size="2"
          (click)="goToTransaction(tx.txid)"
          class="link-color cursor-pointer ellipsis"
          >{{ tx.txid }}</ion-col
        >
        <ion-col size="1">{{ tx.status?.block_height || "" }}</ion-col>
        <ion-col size="1">{{ tx.status?.block_time | momentFromNow }}</ion-col>
        <ion-col size="4">
          <ng-container *ngFor="let input of tx.vin">
            <ion-row>
              <ion-col
                size="6"
                (click)="!input.prevout?.scriptpubkey_uncolored_address || goToAddress(input.prevout?.scriptpubkey_uncolored_address)"
                [ngClass]="{'link-color cursor-pointer ellipsis': input.prevout?.scriptpubkey_uncolored_address}"
                >{{ input.prevout?.scriptpubkey_uncolored_address }}</ion-col
              >
              <ion-col size="2">
                <ion-badge *ngIf="!input.is_coinbase" color="primary"
                  >IN</ion-badge
                >
                <ion-badge *ngIf="input.is_coinbase" color="warning"
                  >COINBASE</ion-badge
                >
              </ion-col>
              <ion-col size="4" class="ion-text-right">
                <ng-container *ngIf="input.is_coinbase"></ng-container>
                <ng-container
                  *ngIf="!input.is_coinbase && !!input.prevout.colorId && input.prevout.colorId !== colorId"
                >
                  {{ input.prevout?.value }}
                  <span
                    class="link-color cursor-pointer"
                    (click)="goToCoin(input.prevout.colorId)"
                    >COIN
                  </span>
                </ng-container>
                <ng-container
                  *ngIf="!input.is_coinbase && !!input.prevout.colorId && input.prevout.colorId === colorId"
                >
                  {{ input.prevout?.value | asToken:metadata?.decimals }}
                  <span>{{ metadata?.symbol || "COIN" }}</span>
                </ng-container>
                <ng-container
                  *ngIf="!input.is_coinbase && !input.prevout.colorId"
                >
                  {{ input.prevout?.value | asTpc}}
                  <span>TPC</span>
                </ng-container>
              </ion-col>
            </ion-row>
            <ion-row
              *ngIf="!!input.prevout.colorId && input.prevout.colorId !== colorId"
            >
              <ion-col
                size="8"
                class="link-color cursor-pointer font-14 ellipsis"
                (click)="goToCoin(input.prevout.colorId)"
              >
                Color ID: {{ input.prevout.colorId | formatColorId }}
              </ion-col>
            </ion-row>
            <ion-row
              *ngIf="!!input.prevout.colorId && input.prevout.colorId === colorId"
            >
              <ion-col size="8" class="font-14 ellipsis">
                Color ID: {{ input.prevout.colorId | formatColorId }}
              </ion-col>
            </ion-row>
            <ion-row class="table-border-bottom"></ion-row>
          </ng-container>
        </ion-col>
        <ion-col size="4">
          <ng-container *ngFor="let output of tx.vout">
            <ion-row>
              <ion-col
                size="6"
                (click)="!output.scriptpubkey_uncolored_address || goToAddress(output.scriptpubkey_uncolored_address)"
                [ngClass]="{'link-color cursor-pointer ellipsis': output.scriptpubkey_uncolored_address}"
                >{{ output.scriptpubkey_uncolored_address }}</ion-col
              >
              <ion-col size="2">
                <ion-badge color="danger">OUT</ion-badge>
              </ion-col>
              <ion-col size="4" class="ion-text-right">
                <ng-container
                  *ngIf="!!output.colorId && output.colorId !== colorId"
                >
                  {{ output.value }}
                  <span
                    class="link-color cursor-pointer"
                    (click)="goToCoin(output.colorId)"
                    >COIN
                  </span>
                </ng-container>
                <ng-container
                  *ngIf="!!output.colorId && output.colorId === colorId"
                >
                  {{ output.value | asToken:metadata?.decimals }}
                  <span>{{ metadata?.symbol || "COIN" }}</span>
                </ng-container>
                <ng-container *ngIf="!output.colorId">
                  {{ output.value | asTpc }}
                  <span>TPC</span>
                </ng-container>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="!!output.colorId && output.colorId !== colorId">
              <ion-col
                size="8"
                class="link-color cursor-pointer font-14 ellipsis"
                (click)="goToCoin(output.colorId)"
              >
                Color ID: {{ output.colorId | formatColorId }}
              </ion-col>
            </ion-row>
            <ion-row *ngIf="!!output.colorId && output.colorId === colorId">
              <ion-col size="8" class="font-14 ellipsis">
                <ion-badge [color]="isIssue(tx) ? 'success' : 'tertiary'"
                  >{{ isIssue(tx) ? "ISSUE" : "TRANSFER" }}</ion-badge
                >
                Color ID: {{ output.colorId | formatColorId }}
              </ion-col>
            </ion-row>
            <ion-row class="table-border-bottom"></ion-row>
          </ng-container>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <ion-grid *ngIf="!hasError && hasMore">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button
          color="primary"
          id="next"
          class="cursor-pointer"
          (click)="onNextPage()"
          [disabled]="isLoading"
        >
          <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
          <span *ngIf="!isLoading">Load More</span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-padding" *ngIf="hasError">
    <h1 class="error text-primary">
      <div class="code">{{ statusCode }}</div>
      <div class="message">{{ statusMsg }}</div>
    </h1>
    <div>
      <p class="detail">{{ detailMsg }}</p>
    </div>
  </div>
</ion-content>
