ion-footer ion-toolbar {
  --background: linear-gradient(#5398da, #135ea8);
  --min-height: 50px;
  --padding-top: 4px;
  --padding-bottom: 4px;
}

.logo-powered-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-logo {
  height: 40px;
  width: auto;
}

.powered-text-container {
  display: flex;
  flex-direction: column;
}

.footer-text {
  font-size: 11px;
  color: white;
  margin: 0px !important;
  line-height: 1.3;
}

a.footer-text {
  font-size: 12px;
  color: white;
  margin: 0px !important;
  text-decoration: none;
}

.border-right {
  border-right: 1px solid gray;
}

.circle-container {
  display: flex;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
}

.circle {
  background: white;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  text-align: center;

  img {
    height: 20px;
    width: auto;
  }
}

.pt-5 {
  padding-top: 4px;
}

.pt-6 {
  padding-top: 5px;
}

.pt-8 {
  padding-top: 6px;
}
