name: CI on Push and PullRequest

on: [push, pull_request]

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x, 24.x]
    env:
      TZ: "Asia/Tokyo"
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Setup libraries for Frontend
        run: |
          sudo apt update
          sudo apt install -y ca-certificates fonts-liberation libasound2t64 libatk-bridge2.0-0 libatk1.0-0 libc6 libcairo2 libcups2 libdbus-1-3 libexpat1 libfontconfig1 libgbm1 libglib2.0-0 libgtk-3-0 libnspr4 libnss3 libpango-1.0-0 libpangocairo-1.0-0 libstdc++6 libx11-6 libx11-xcb1 libxcb1 libxcomposite1 libxcursor1 libxdamage1 libxext6 libxfixes3 libxi6 libxrandr2 libxrender1 libxss1 libxtst6 lsb-release wget xdg-utils
      - name: Setup Backend
        run: |
          cd backend
          npm install
          npm run prettier-ci
          npm run test
      - name: Setup Frontend
        run: |
          cd frontend
          npm install
          npm run lint
          npm run prettier-ci
          npm run test -- --no-watch --no-progress --browsers=ChromeHeadlessCI
          npm run build -- --configuration=production
